nerfstudio==1.1.5
open3d==0.17.0
ultralytics==8.3.63
transformers==4.36.1
gdown==5.2.0
python-dotenv==1.0.0
supabase==2.0.3
python-box==6.0.2
ensure==1.0.2
numpy<2.0.0
supervision==0.25.1
addict==2.4.0
yapf==0.43.0
-e .